
.input-group > *:hover {
  border-color: #b78618;
  border-width: 2px;
}

.bi.bi-search {
  color: #b78618;
}

.form-control:focus, .custom-select:focus {
  border-color: #b78618;
  outline: 0;
  box-shadow: none;
  border-width: 2px;
}
