#searchTermI {
  width: 100%;
}

#searchTermI:hover {
  border-color: #b78618;
  border-width: 2px;
}

.bi.bi-search {
  color: #b78618;
}

.form-control:focus {
  border-color: #b78618;
  outline: 0;
  //box-shadow: 0 0 0 0.1rem #b78618;
  box-shadow: none;
  border-width: 2px;
}

.form-control:focus:hover {
  border-color: #b78618;
  outline: 0;
  //box-shadow: 0 0 0 0.1rem #b78618;
  box-shadow: none;
  border-width: 2px;
}
